:root {
  --violet: #633cff;
  --light-violet: #beadff;
  --light-gray: #efebff;
  --black: #333333;
  --gray: #737373;
  --light-gray: #d9d9d9;
  --gray-white: #fafafa;
  --white: #ffffff;
  --red: #ff3939;
}

/* DEFAULTS SETTINGS */
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap");

body {
  font-family: "Instrument Sans", sans-serif;
}

/* MAIN STYLINGS */
.container {
  width: 100%;
  height: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-white);
}

.header {
  display: flex;
  flex-direction: row;
  width: 375px;
  max-width: 100%;
  padding: .5rem;
  background-color: var(--white);
  align-items: center;
}

.form {
  margin-top: 2rem;
  width: 375px;
  max-width: 100%;
}

.links-section {
  margin-top: 2rem;
  width: 355px;
  max-width: 100%;
  background-color: var(--white);
  padding: 2rem;
  border-radius: .5rem;
}

.links-section p {
  margin-top: 1rem;
}

.card {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-white);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: .5rem;
  position: relative;
}

.card::after {
  position: absolute;
  top: 21rem;
  content: '';
  width: 100%;
  height: .2rem;
  background-color: var(--gray-white);
}

.card img {
  width: 8rem;
  margin: 2rem 0;
}

.card p {
  text-align: center;
}

/* SMALL REUSABLE ELEMENTS */
.label {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  position: relative;
}

.input {
  display: block;
  width: 100%;
  margin: .4rem 0;
  border: 1px solid var(--light-gray);
  border-radius: .5rem;
  padding: .5rem 2.5rem;
}

.input-icon {
  position: absolute;
  width: 1.5rem;
  top: 1.8rem;
  left: .5rem;
}

.btn {
  width: 100%;
  color: var(--white);
  border-radius: .5rem;
  padding: .5rem 0;
  border: none;
  cursor: pointer;
}

.cell,.nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 3rem;
}

.nav-icons {
  padding: 0 2rem;
  border-radius: .5rem;
  margin: 0 .5rem;
}

.cell:last-child {
  border: 1px solid var(--violet);
  border-radius: .5rem;
}

.header-space-between {
  justify-content: space-between;
}

.drop-down {
  background-color: var(--gray-white);
}

.drop-down-link {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: baseline;
  border: 1px solid var(--gray-white);
  background-color: var(--white);
}

.drop-down-link img {
  margin-right: .5rem;
}




/* UTILITY */
.active {
  background-color: var(--light-gray);
}

.bold {
  font-weight: 700;
}

.primary {
  background-color: var(--violet);
}

.secondary {
  background-color: transparent;
  color: var(--violet);
  border: 1px solid var(--violet);
}

.mg-t-1 {
  margin-top: 1rem;
}

.mg-t-2 {
  margin-top: 2rem;
}

.gray {
  color: var(--gray)
}

.display {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
